In [10]:
import os
os.getcwd()

'C:\\Users\\DIKSHA DESWAL\\Desktop\\Pandas'

In [11]:
os.chdir('C:/Users/DIKSHA DESWAL/Documents')

In [12]:
os.getcwd()

'C:\\Users\\DIKSHA DESWAL\\Documents'

In [13]:
import pandas as pd
df=pd.read_csv("weather_data.csv")

In [16]:
print(df)

          day  temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny
2  03-01-2021           28          2   snow
3  04-01-2021           24          7   snow
4  05-01-2021           32          4   rain
5  06-01-2021           32          2  sunny

In [18]:
weather_data={'day':['01-01-2021','02-01-2021','03-01-2021','04-01-2021','05-01-2021','06-01-2021'],'Temperature':[32,35,28,24,32,32],'windspeed':[6,7,2,7,4,2],'event':['rain','sunny','snow','snow','rain','sunny']}
df=pd.DataFrame(weather_data)

In [19]:
print(df)

          day  Temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny
2  03-01-2021           28          2   snow
3  04-01-2021           24          7   snow
4  05-01-2021           32          4   rain
5  06-01-2021           32          2  sunny

In [21]:
df.shape
#6 rows and 4 columns

(6, 4)

In [27]:
#the shape method returns a tuple and we can the assign the values to the tuple as rows and colums
rows,columns=df.shape
rows

6

In [28]:
columns

4

In [29]:
#to print the first few rows
df.head()

          day  Temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny
2  03-01-2021           28          2   snow
3  04-01-2021           24          7   snow
4  05-01-2021           32          4   rain

In [30]:
df.head(2)

          day  Temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny

In [31]:
#to access last few rows from the dataframe/table
df.tail()

          day  Temperature  windspeed  event
1  02-01-2021           35          7  sunny
2  03-01-2021           28          2   snow
3  04-01-2021           24          7   snow
4  05-01-2021           32          4   rain
5  06-01-2021           32          2  sunny

In [32]:
df.tail(1)

          day  Temperature  windspeed  event
5  06-01-2021           32          2  sunny

In [33]:
#using slicing method to access rows from the dataframe
print(df[2:5])

          day  Temperature  windspeed event
2  03-01-2021           28          2  snow
3  04-01-2021           24          7  snow
4  05-01-2021           32          4  rain

In [34]:
print(df[:]) #from first to the last row

          day  Temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny
2  03-01-2021           28          2   snow
3  04-01-2021           24          7   snow
4  05-01-2021           32          4   rain
5  06-01-2021           32          2  sunny

In [37]:
df.columns #to call the columns

Index(['day', 'Temperature', 'windspeed', 'event'], dtype='object')

In [39]:
df.day #to print the individual colum

0    01-01-2021
1    02-01-2021
2    03-01-2021
3    04-01-2021
4    05-01-2021
5    06-01-2021
Name: day, dtype: object

In [40]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [43]:
type(df['event']) #colums are of type pandas series

pandas.core.series.Series

In [45]:
#to print only the rquired colums
df[['event','day']]

   event         day
0   rain  01-01-2021
1  sunny  02-01-2021
2   snow  03-01-2021
3   snow  04-01-2021
4   rain  05-01-2021
5  sunny  06-01-2021

In [47]:
#operations with dataframes
#to find the maximum temperature foe example
df
df["Temperature"].max()

35

In [48]:
df["Temperature"].mean()

30.5

In [51]:
df["Temperature"].min()

24

In [52]:
df["Temperature"].std()

3.8858718455450894

In [53]:
df.describe()

       Temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [55]:
df[df.Temperature>=32]

          day  Temperature  windspeed  event
0  01-01-2021           32          6   rain
1  02-01-2021           35          7  sunny
4  05-01-2021           32          4   rain
5  06-01-2021           32          2  sunny

In [57]:
df[df.Temperature==df["Temperature"].max()]

          day  Temperature  windspeed  event
1  02-01-2021           35          7  sunny

In [62]:
df[['day','Temperature']][df.Temperature==df.Temperature.max()]

          day  Temperature
1  02-01-2021           35

In [65]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [67]:
df.set_index("day", inplace=True)

In [68]:
df

            Temperature  windspeed  event
day
01-01-2021           32          6   rain
02-01-2021           35          7  sunny
03-01-2021           28          2   snow
04-01-2021           24          7   snow
05-01-2021           32          4   rain
06-01-2021           32          2  sunny

In [71]:
df.loc['01-01-2021']

Temperature      32
windspeed         6
event          rain
Name: 01-01-2021, dtype: object

In [81]:
df.reset_index(inplace=True)
df

   level_0  event  index         day  Temperature  windspeed
0        0   rain      0  01-01-2021           32          6
1        1  sunny      1  02-01-2021           35          7
2        2   snow      2  03-01-2021           28          2
3        3   snow      3  04-01-2021           24          7
4        4   rain      4  05-01-2021           32          4
5        5  sunny      5  06-01-2021           32          2

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      6 non-null      int64
 1   event        6 non-null      object
 2   index        6 non-null      int64
 3   day          6 non-null      object
 4   Temperature  6 non-null      int64
 5   windspeed    6 non-null      int64
dtypes: int64(4), object(2)
memory usage: 416.0+ bytes

In [87]:
txt_df=df.rename(columns={"event":"weather"})
print(txt_df)

   level_0 weather  index         day  Temperature  windspeed
0        0    rain      0  01-01-2021           32          6
1        1   sunny      1  02-01-2021           35          7
2        2    snow      2  03-01-2021           28          2
3        3    snow      3  04-01-2021           24          7
4        4    rain      4  05-01-2021           32          4
5        5   sunny      5  06-01-2021           32          2

In [90]:
#introducing a new column
df["t_mean"]=df["Temperature"]*df["windspeed"]
print(df)

   level_0  event  index         day  Temperature  windspeed  t_mean
0        0   rain      0  01-01-2021           32          6     192
1        1  sunny      1  02-01-2021           35          7     245
2        2   snow      2  03-01-2021           28          2      56
3        3   snow      3  04-01-2021           24          7     168
4        4   rain      4  05-01-2021           32          4     128
5        5  sunny      5  06-01-2021           32          2      64

In [91]:
df["event"].value_counts()

sunny    2
snow     2
rain     2
Name: event, dtype: int64

In [102]:
#for filtering the dataframe on the basis of the elemnts of the rows
df.query('event=="rain" and Temperature==32')

   level_0 event  index         day  Temperature  windspeed  t_mean
0        0  rain      0  01-01-2021           32          6     192
4        4  rain      4  05-01-2021           32          4     128

In [105]:
df[(df['event']=="rain")|(df['Temperature']=='32')]

   level_0 event  index         day  Temperature  windspeed  t_mean
0        0  rain      0  01-01-2021           32          6     192
4        4  rain      4  05-01-2021           32          4     128

In [106]:
x=["rain","snow"]
df[df.event.isin(x)]

   level_0 event  index         day  Temperature  windspeed  t_mean
0        0  rain      0  01-01-2021           32          6     192
2        2  snow      2  03-01-2021           28          2      56
3        3  snow      3  04-01-2021           24          7     168
4        4  rain      4  05-01-2021           32          4     128